@mixin font-face($name, $type, $weight: normal, $style: normal, $format: 'otf') {
  @font-face {
    font-family: '#{$name}-#{$type}';
    src: url('./#{$name}/#{$name}-#{$type}.#{$format}');
    font-weight: $weight;
    font-style: $style;
  }
}

/* ========================================
 * Font name: 구름고딕
 * Prefix   : cloud-gothic
 * Type     : 010, 030, 050, 070, 090
 * ======================================== */

@include font-face('cloud-gothic', '010');
@include font-face('cloud-gothic', '030');
@include font-face('cloud-gothic', '050');
@include font-face('cloud-gothic', '070');
@include font-face('cloud-gothic', '090');
@include font-face('nanum-pen', 'regular');
