[data-component='button'] {
  cursor: pointer;
  padding: 5px 15px;
  background-color: getColor(white);

  &.default {
    border: 1px solid getColor(gray-7);
  }
  &.dashed {
    border: 1px dashed getColor(gray-7);
  }
  &.text {
    border: 0;
    padding: 0;
    background-color: transparent;
  }

  &:hover {
    opacity: 0.8;
  }
}

[data-component='button'][data-variation='ROUND'] {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  border: 1px solid getColor(map-gray-3);
  color: getColor(map-gray-5);
}
